@charset "utf-8";

main {
    text-align: center;
    padding-top: 50px;
}

#result {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: red;
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#btn {
    margin-top: 20px;
} 
